<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.UserMapper">

    <!--
    设置手工映射
        private String userId;
        private String cardType;
        private String cardNo;
        private String userName;
        private String userSex;
        private Integer userAge;
        private String userRole;
    -->
    <resultMap id="usermap" type="user">
        <id property="userId" column="user_id"></id>
        <id property="cardType" column="card_type"></id>
        <id property="cardNo" column="card_no"></id>
        <id property="userName" column="user_name"></id>
        <id property="userSex" column="user_sex"></id>
        <id property="userAge" column="user_age"></id>
        <id property="userRole" column="user_role"></id>
    </resultMap>
    <!--设置数据行-->
    <sql id="allColumns">
        user_id,card_type,card_no,user_name,user_sex,user_age,user_role
    </sql>
    <!--
    List<User> selectUserPage(String userName,String userSex);
    -->
    <select id="selectUserPage" resultMap="usermap">
        select <include refid="allColumns"></include>
        from user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="userSex != null and userSex != ''">
                and user_sex = #{userSex}
            </if>
        </where>
    </select>
    <!--
    int getRowCount(
                    @Param("userName")
                    String userName,
                    @Param("userSex")
                    String userSex);
    -->
    <select id="getRowCount" resultType="int">
        select count(user_id) from user
        <where>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="userSex != null and userSex != ''">
                and user_sex = #{userSex}
            </if>
        </where>
    </select>
    <!--
    int deleteUserById(String userId);
    -->
    <delete id="deleteUserById" parameterType="string">
        delete from user
        where user_id = #{userName}
    </delete>
    <!--
    int createUser(User user);
    -->
    <insert id="createUser" parameterType="user">
        insert into user values (#{userId},#{cardType},#{cardNo},#{userName},#{userSex},#{userAge},#{userRole})
    </insert>
    <!--
    int updateUserById(User user);
    -->
    <update id="updateUserById" parameterType="user">
        update user
        <set>
            <if test="cardType != null and cardType != ''">
                card_type = #{cardType},
            </if>
            <if test="cardNo != null and cardNo != ''">
                card_no = #{cardNo},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userSex != null and userSex != ''">
                user_sex = #{userSex},
            </if>
            <if test="userAge != null">
                user_age = #{userAge},
            </if>
            <if test="userRole != null and userRole != ''">
                user_role = #{userRole}
            </if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>